* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  h1 {
    text-decoration: underline;
  }
  
  body {
    background-color: #d5e1ef;
    padding: 0 27.5px 0 27.5px;
  }
  
  .card {
    width: 320px;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 16px 16px 40px 16px;
    border-radius: 20px;
    box-shadow: 0px 25px 25px 0px rgba(0, 0, 0, 0.04765181243419647);
  }

  .card img {
    width: 100%;
  }
  
  .text {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    font-family: "Outfit", sans-serif;
    text-align: center;
    padding: 0 16px 0 16px;
  }
  
  .text-title {
    font-size: 22px;
    line-height: 120%;
    letter-spacing: 0px;
    margin-bottom: 16px;
    font-weight: 700;
  }
  
  .text-desc {
    font-size: 15px;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: 0.2px;
    color: #68778d;
  }

  .attribution { 
    font-size: 11px; 
    text-align: center; 
  }

  .attribution a { 
    color: hsl(228, 45%, 44%); 
  }